{% extends 'base.html.twig' %}

{% block title %}DocBooking.ch - About{% endblock %}

{% block body %}

			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="{{ path('app_index') }}">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">About</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">About DocBooking</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->


			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
                            
							<h2>The Mission</h2>
                            
                            	<div class="col-md-12 col-lg-12 col-xl-12">
					<div class="card widget-profile pat-widget-profile">
						<div class="card-body">
                                           		<div class="terms-content">
								<div class="terms-text">

									<p>Each of us knows the situation. A medical visit is inevitable, but so many questions come up. Which doctor should I go to? In such a case, you address your friends and inquires about a competent and trustworthy doctor. But this opens the door to many more questions to which DocBooking seeks to answer.</p>

									<ol>
										<li>Which Doctor do I go to?</li>
										<li>Which Doctor is available ?</li>
										<li>How long do I need to wait before seeing the Doctor ?</li>
										<li>How good is the Doctor ?</li>
										<li>What Possible Disease(s) do I have ?</li>
										<li>Is my Disease Serious ?</li>
										<li>Does my Disease need to be Treated Urgently ?</li>
									</ol>

									<p>Not all answers will be provided for every user. But we are trying to provide these answers as often as we can.</p>

								</div>
							</div> 
						</div>
					</div>
				</div>
                            
                            
 <!-- DOCBOOKING TEAM -->                     
                                        

							<h2>The Management Team</h2>

						<div class="col-md-7 col-lg-8 col-xl-12">
							<div class="row row-grid">
								
								<div class="col-md-6 col-lg-3 col-xl-3">
									<div class="card widget-profile pat-widget-profile">
										<div class="card-body">
											<div class="pro-widget-content">

												<div class="profile-info-widget">
													<a href="#" class="booking-doc-img">
														<img src="/assets/img/mgmt/seankelly.jpg" alt="DocBooking Management Image">
													</a>
													<div class="profile-det-info">
														<h3>Sean Kelly</h3>
														<div class="patient-details">
															<h5><b>CEO</b></h5>
															<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Geneva, Switzerland</h5>
														</div>
													</div>
												</div>

											</div>
											<div class="patient-info">
												<ul>
													<li><a href="https://www.linkedin.com/in/sean-kelly-751816a/" target="_blank">LinkedIn Profile</a></li>
													<li>Age <span>54 Years, Male</span></li>
													<li><span>Serial entrepreneur and investor.<br> He has worked for LODH, the well known Swiss Bank, Bank SCS Alliance, Rothschild’s and SG Warburg. Graduated from University of Geneva, he has operated successfully as analyst, salesman and fund manager for various institutional funds and has been a columnist for the financial press and a radio host. He is a big advocate of blockchain and cryptocurrencies. Sean became involved in his first startups as of 2001.</span></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-md-6 col-lg-3 col-xl-3">
									<div class="card widget-profile pat-widget-profile">
										<div class="card-body">
											<div class="pro-widget-content">
												<div class="profile-info-widget">
													<a href="#" class="booking-doc-img">
														<img src="/assets/img/mgmt/georgekelly.jpg" alt="DocBooking Management Image">
													</a>
													<div class="profile-det-info">
														<h3>George Kelly</h3>
														<div class="patient-details">
															<h5><b>Chief Marketing Officer</b></h5>
															<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Fort Myers, FL, USA</h5>
														</div>
													</div>
												</div>
											</div>
											<div class="patient-info">
												<ul>
													<li><a href="https://www.linkedin.com/in/george-kelly-4a418635/" target="_blank">LinkedIn Profile</a></li>
													<li>Age <span>66 Years, Male</span></li>
													<li><span>Georges has over 40 years of international sales and marketing in several fields. Started and ran two companies successfully. Experienced in precious metals and real estate development. Currently involved in building residential projects in USA and laying the groundwork for introducing our telehealth product to the North American market.</span></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-md-6 col-lg-3 col-xl-3">
									<div class="card widget-profile pat-widget-profile">
										<div class="card-body">
											<div class="pro-widget-content">
												<div class="profile-info-widget">
													<a href="#" class="booking-doc-img">
														<img src="/assets/img/mgmt/mouradrejah.jpg" alt="DocBooking Management Image">
													</a>
													<div class="profile-det-info">
														<h3>Mourad Rejah</h3>
														<div class="patient-details">
															<h5><b>Chief Technical Officer</b></h5>
															<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Paris, France</h5>
														</div>
													</div>
												</div>
											</div>
											<div class="patient-info">
												<ul>
													<li><a href="https://www.linkedin.com/in/mourad-r-12689b156/" target="_blank">LinkedIn Profile</a></li>
													<li>Age <span>34 Years, Male</span></li>
													<li><span>Mourad has always had a strong interest in new technology, which led him to follow a career as a developer for many years. He has excellent skills in servers administration, analysis and prevention of security vulnerabilities, with successful experiences in companies such as ST Microelectronics and GFI Informatique. Here are his words about our project: “Our entire team’s objective is to bring good vibes to the crypto world, and most importantly, to place decentralized healthcare at the center of attention.</span></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-md-6 col-lg-3 col-xl-3">
									<div class="card widget-profile pat-widget-profile">
										<div class="card-body">
											<div class="pro-widget-content">
												<div class="profile-info-widget">
													<a href="#" class="booking-doc-img">
														<img src="/assets/img/mgmt/bernardjordan.jpg" alt="DocBooking Management Image">
													</a>
													<div class="profile-det-info">
														<h3>Dr. Bernard Jordan</h3>
														<div class="patient-details">
															<h5><b>Chief Medical Strategy Officer</b></h5>
															<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Sion, Switzerland</h5>
														</div>
													</div>
												</div>
											</div>
											<div class="patient-info">
												<ul>
													<li><a href="https://www.linkedin.com/in/bernard-jordan-642509129/" target="_blank">LinkedIn Profile</a></li>
													<li>Age <span>51 Years, Male</span></li>
													<li><span>medical doctor in sport medicine and also consultant for health related fields, had a wide experience in managing and leading projects. He has worked for important groups in Switzerland and France. He has lead successful projects for implanting, restructuring and accompanying numerous medical institutions. He is also consultant for several startups in the biotechnology and E- Health. His experience in consulting is more than 15 years.</span></li>
												</ul>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
                            
                            
<!-- MAP -->

							<h2>Location and Map</h2>

								<div class="col-md-12 col-lg-12 col-xl-12">
									<div class="card widget-profile pat-widget-profile">
										<div class="card-body">

										<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d33356.315235269314!2d6.547597517799264!3d46.53726552391464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c31a0f1e2e951%3A0x348fac5ba6270483!2sPlace%20de%20la%20Gare%204%2C%201020%20Renens!5e0!3m2!1sfr!2sch!4v1581450217232!5m2!1sfr!2sch" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
										</div>
									</div>
								</div>
                            
                            
<!-- MEDOCTOR TECHNOLOGY -->

                            
                            <h2>DocBooking's Artificial Intelligence (via its MEDoctor Subsidiary)</h2>

		<div class="col-md-12 col-lg-12 col-xl-12">
			<div class="card widget-profile pat-widget-profile">
				<div class="card-body">

                        <center><h4><p>Here is described in a few illustrations the steps the journey of the patient when using DocBooking.<br><br></p></h4></center>

                        <center><h3><p>1.</p></h3></center>
                
                        <center><h4><p>Anyone can book a doctor via the Website, or Web app.<br> The average waiting is barely 48 hours. </p></h4></center>

			                 <center><a href="https://www.docbooking.ch" target="_blank">
                                 <img src="/assets/img/searchpage.jpg" class="responsive-img"> </a></center>
                    
                        <center><h3><p><br>2.</p></h3></center>
                
                        <center><h4><p>Once the patient has book for his appointment, he may prepare for his medical visit by testing his symptoms.<br> This will help the doctor make a first accurate statement on the patient's health.</p></h4></center>

			                 <center><a href="https://www.docbooking.ch" target="_blank">
                                 <img src="/assets/img/iphoneladyhand10.jpg" class="responsive-img"> </a></center>

                        <center><h3><p><br>3.</p></h3></center>
                
                        <center><h4><p>So then the patient is asked several symptom questions by the MEDoctor system.</p></h4></center>
                            
                            <center><a href="https://www.docbooking.ch" target="_blank">
                                <img src="/assets/img/iphoneladyhand30.jpg" class="responsive-img"> </a></center>

                        <center><h3><p><br>4.</p></h3></center>
                            
                        <center><h4><p>The patient receives his health assessment by the artificial intelligence (no worry, it's free).</p></h4></center>
                    
                            <center><a href="https://www.docbooking.ch" target="_blank">
                                <img src="/assets/img/iphoneladyhand40.jpg" class="responsive-img"> </a></center>

                        <center><h3><p><br>5.</p></h3></center>
                
                        <center><h4><p>Now, the patient can visit his doctor, as booked.<br> But he can also speak to an Online
                            Doctor via video on his smartphone.</p></h4></center>
                            
                            <center><a href="https://www.docbooking.ch" target="_blank">
                                <img src="/assets/img/iphoneladyhand70.jpg" class="responsive-img"> </a></center>

                        <center><h3><p><br>6.</p></h3></center>
                
                        <center><h4><p>The doctor, whether in his practice or by video, receives all the patient's data.<br> This will allow for a more accurate health assessment by the doctor.<br> (Here is the Doctor's Video Dashboard).</p></h4></center>
                            
                            <center><a href="https://www.docbooking.ch" target="_blank">
                                <img src="/assets/img/dashboarddoctor.jpg" class="responsive-img"> </a></center>

                        <center><h3><p><br>7.</p></h3></center>
                
                        <center><h4><p>The doctor then can provide the patient with his prescription, if needed.<br> This prescription can be a traditional paper prescription, or it can be sent via the Web App.</p></h4></center>
                            
                            <center><a href="https://www.docbooking.ch" target="_blank">
                                <img src="/assets/img/iphoneladyhand90.jpg" class="responsive-img"> </a></center>

                        <center><h3><p><br>8.</p></h3></center>
                
                        <center><h4><p>And, in the process, every patient can store all his health data on his Blockchain
                            Personal Health Record and retrieve it anytime.</p></h4></center>

                            <center><a href="https://www.docbooking.ch" target="_blank">
                                <img src="/assets/img/blockchain.jpg" class="responsive-img"> </a></center>

                        <center><h3><p><br>9.</p></h3></center>
                
                        <center><h4><p>At anytime, the patient can retrieve all his health data from his Blockchain Personal
                            Health Record and show extracts to any person of his choice.</p></h4></center>
                        
                            <center><a href="https://www.docbooking.ch" target="_blank">
                                <img src="/assets/img/samplereport.png" class="responsive-img"> </a></center>
                                    
				</div>
			</div>
		</div>

                            
<!-- ARTIFICIAL INTELLIGENCE TEAM -->                           
                                               
                            
							<h2>The Artificial Intelligence Team - MEDoctor Inc. USA</h2>

						<div class="col-md-7 col-lg-8 col-xl-12">
							<div class="row row-grid">
								
								<div class="col-md-6 col-lg-3 col-xl-3">
									<div class="card widget-profile pat-widget-profile">
										<div class="card-body">
											<div class="pro-widget-content">

												<div class="profile-info-widget">
													<a href="#" class="booking-doc-img">
														<img src="/assets/img/mgmt/charleskelly.jpg" alt="DocBooking Management Image">
													</a>
													<div class="profile-det-info">
														<h3>Charles Kelly</h3>
														<div class="patient-details">
															<h5><b>Chairman of the Board, MEDoctor Inc.</b></h5>
															<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Jacksonville, FL, USA</h5>
														</div>
													</div>
												</div>

											</div>
											<div class="patient-info">
												<ul>
													<li><a href="https://www.linkedin.com/in/charles-kelly-202552144/" target="_blank">LinkedIn Profile</a></li>
													<li>Age <span>83 Years, Male</span></li>
													<li><span></span></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-md-6 col-lg-3 col-xl-3">
									<div class="card widget-profile pat-widget-profile">
										<div class="card-body">
											<div class="pro-widget-content">
												<div class="profile-info-widget">
													<a href="#" class="booking-doc-img">
														<img src="/assets/img/mgmt/rickkozlenko.jpg" alt="DocBooking Management Image">
													</a>
													<div class="profile-det-info">
														<h3>Rick Kozlenko</h3>
														<div class="patient-details">
															<h5><b>SBS Food Group</b></h5>
															<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> San Francisco, CA, USA</h5>
														</div>
													</div>
												</div>
											</div>
											<div class="patient-info">
												<ul>
													<li><a href="https://www.linkedin.com/in/richard-kozlenko-2026957/" target="_blank">LinkedIn Profile</a></li>
													<li>Age <span>65 Years, Male</span></li>
													<li><span></span></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-md-6 col-lg-3 col-xl-3">
									<div class="card widget-profile pat-widget-profile">
										<div class="card-body">
											<div class="pro-widget-content">
												<div class="profile-info-widget">
													<a href="#" class="booking-doc-img">
														<img src="/assets/img/mgmt/jeffmiller.jpg" alt="DocBooking Management Image">
													</a>
													<div class="profile-det-info">
														<h3>Jeff Miller</h3>
														<div class="patient-details">
															<h5><b>Miller Communications</b></h5>
															<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> New York, NY, USA</h5>
														</div>
													</div>
												</div>
											</div>
											<div class="patient-info">
												<ul>
													<li><a href="https://www.linkedin.com/in/jeffrey-miller-063b86/" target="_blank">LinkedIn Profile</a></li>
													<li>Age <span>55 Years, Male</span></li>
													<li><span></span></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-md-6 col-lg-3 col-xl-3">
									<div class="card widget-profile pat-widget-profile">
										<div class="card-body">
											<div class="pro-widget-content">
												<div class="profile-info-widget">
													<a href="#" class="booking-doc-img">
														<img src="/assets/img/mgmt/paulauerbach.jpg" alt="DocBooking Management Image">
													</a>
													<div class="profile-det-info">
														<h3>Pr. Paul Auerbach</h3>
														<div class="patient-details">
															<h5><b>MD, FACEP, Stanford University Medical Center</b></h5>
															<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Stanford, CA, USA</h5>
														</div>
													</div>
												</div>
											</div>
											<div class="patient-info">
												<ul>
													<li><a href="https://www.linkedin.com/in/paul-auerbach-481749/" target="_blank">LinkedIn Profile</a></li>
													<li>Age <span>62 Years, Male</span></li>
													<li><span></span></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
                                   								
								<div class="col-md-6 col-lg-3 col-xl-3">
									<div class="card widget-profile pat-widget-profile">
										<div class="card-body">
											<div class="pro-widget-content">
												<div class="profile-info-widget">
													<a href="#" class="booking-doc-img">
														<img src="/assets/img/mgmt/yunkapkwankam.jpg" alt="DocBooking Management Image">
													</a>
													<div class="profile-det-info">
														<h3>Pr. Yunkap Kwankam</h3>
														<div class="patient-details">
															<h5><b>PhD, World Health Organisation (WHO), former Director E-Health</b></h5>
															<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Geneva,
                                                            Switzerland</h5>
														</div>
													</div>
												</div>
											</div>
											<div class="patient-info">
												<ul>
													<li><a href="https://www.linkedin.com/in/prof-s-yunkap-kwankam-ph-d-88ba5920/" target="_blank">LinkedIn Profile</a></li>
													<li>Age <span>78 Years, Male</span></li>
													<li><span></span></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
                                						
								<div class="col-md-6 col-lg-3 col-xl-3">
									<div class="card widget-profile pat-widget-profile">
										<div class="card-body">
											<div class="pro-widget-content">
												<div class="profile-info-widget">
													<a href="#" class="booking-doc-img">
														<img src="/assets/img/mgmt/peteremblad.jpg" alt="DocBooking Management Image">
													</a>
													<div class="profile-det-info">
														<h3>Dr. Peter Emblad</h3>
														<div class="patient-details">
															<h5><b>MD, Kaiser Permanente</b></h5>
															<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> San Francisco, CA, USA</h5>
														</div>
													</div>
												</div>
											</div>
											<div class="patient-info">
												<ul>
													<li><a href="https://www.linkedin.com/in/peter-emblad-0581b89/" target="_blank">LinkedIn Profile</a></li>
													<li>Age <span>62 Years, Male</span></li>
													<li><span></span></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
                                
							</div>
						</div>
				    </div>
				</div>
            </div>
        </div>		
			<!-- /Page Content -->
{% endblock %}