{% extends 'profile/doctor/layout.html.twig' %}

{% block profileb %}
	


							<div class="invoice-content">
								<div class="invoice-item">
									<div class="row">
										<div class="col-md-6">
											<div class="invoice-logo">
												<img src="/assets/img/logo.png" alt="logo">
											</div>
										</div>
										<div class="col-md-6">
											<p class="invoice-details">
												<strong>Order:</strong> #00124 <br>
												<strong>Issued:</strong> 14/03/2020
											</p>
										</div>
									</div>
								</div>
								
								<!-- Invoice Item -->
								<div class="invoice-item">
									<div class="row">
										<div class="col-md-6">
											<div class="invoice-info">
												<strong class="customer-text">Confirmation From</strong>
												<p class="invoice-details invoice-details-two">
													Dr. Darren Elder <br>
													1, place Saint-François<br>
													1000 Lausanne, Suisse <br>
												</p>
											</div>
										</div>
										<div class="col-md-6">
											<div class="invoice-info invoice-info2">
												<strong class="customer-text">{{ "Booking confirmed For"|trans }}</strong>
												<p class="invoice-details">
													Maria Muller <br>
													24, avenue de Provence <br>
													1000, Lausanne <br>
                                                    +41 79 222 2222 <br>
                                                    maria.muller@hotmail.com <br>
												</p>
											</div>
										</div>
									</div>
								</div>
								<!-- /Invoice Item -->
								
								<!-- Invoice Item -->
								<!-- <div class="invoice-item"> -->
									<!-- <div class="row"> -->
										<!-- <div class="col-md-12"> -->
											<!-- <div class="invoice-info"> -->
												<!-- <strong class="customer-text">Payment Method</strong> -->
												<!-- <p class="invoice-details invoice-details-two"> -->
													<!-- Debit Card <br> -->
													<!-- XXXXXXXXXXXX-2541 <br> -->
													<!-- HDFC Bank<br> -->
												<!-- </p> -->
											<!-- </div> -->
										<!-- </div> -->
									<!-- </div> -->
								<!-- </div> -->
								<!-- /Invoice Item -->
								
								<!-- Invoice Item -->
								<div class="invoice-item invoice-table-wrap">
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="invoice-table table table-bordered">
													<thead>
														<tr>
															<th>Description</th>
															<th class="text-center">Quantity</th>
															<th class="text-center">VAT</th>
															<th class="text-right">Total</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>General Consultation</td>
															<td class="text-center">1</td>
															<td class="text-center">CHF 0</td>
															<td class="text-right">CHF 70</td>
														</tr>
														<tr>
															<td>Video Call Booking</td>
															<td class="text-center">0</td>
															<td class="text-center">CHF 0</td>
															<td class="text-right">CHF 0</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div class="col-md-6 col-xl-4 ml-auto">
											<div class="table-responsive">
												<table class="invoice-table-two table">
													<tbody>
													<tr>
														<th>Subtotal:</th>
														<td><span>CHF 70</span></td>
													</tr>
													<tr>
														<th>Discount:</th>
														<td><span>-0%</span></td>
													</tr>
													<tr>
														<th>Total Amount:</th>
														<td><span>CHF 70</span></td>
													</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<!-- /Invoice Item -->
								
								<!-- Invoice Information -->
								<div class="other-info">
									<h4>Other information</h4>
									<p class="text-muted mb-0">Door Access Code to the Building is 2244B after 19h00.
									Depending on the waiting list, your waiting time can be aound 30 minutes.</p>
								</div>
								<!-- /Invoice Information -->
                            </div>
                  

{% endblock %}
