<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        Hello {{name}}, <br><br><br>
		You have successfully registered an account on {{site_name}} <br><br><br>
		Here is your account information: <br><br><br><br>
		Login: {{email}}<br>
		Password: ******<br><br><br>
		All the best,
		{{site_name}}
    </body>
</html>