<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="DocBooking - Book a Doctor near You - Schedules at 12 - 48 hours Waiting only">
    <meta name="keywords" content="booking, doctor, available, schedule, April, May, June, July, symptom checker, diagnosis, medicine, natural, general practitioner, therapist, physiotherapist, dentist, psychologist, flu, depression, massage, pain, homeopathy, gynaecologist, fever, allergy">
    <meta name="author" content="Sean Kelly">
    <meta name="google-site-verification" content="9eQ9giGNEjTdLoRdI96g8EB9DPAuQ0r8-hM0HBnDsc8" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158937519-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-158937519-1');
    </script>
    <!--<meta http-equiv="refresh" content="300">-->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <title>{% block title %}DocBooking - Book a Doctor near You. 12 - 48 hours Waiting only{% endblock %}</title>
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.min.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    {% block stylesheets %}

    {% endblock %}
</head>
<body>
    {% block header %}

    {% endblock %}

    {% block body %}

    {% endblock %}

    {% block footer %}

    {% endblock %}

    {% block javascripts %}

    {% endblock %}
</body>
</html>
